/* Importation de mes differents styles d'écriture */

@font-face {
  font-family: 'Audiowide';
  src: url('/Audiowide/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
}
  /* Style Générale */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
  font-family: 'Barlow Semi Condensed', 'Sans-serif';
}
  
body {
  background: #F2f2f2;
  background-color: #F2f2f2;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%; 
}

/* Le style d'écriture */

h1 {
  font-family: 'Audiowide', 'Sans-serif';
  color: #0d0d0d;
}

h2, h3, h4, h5 {
  font-family: 'IBM Plex Sans','Sans-serif';
  color: #0d0d0d;
}

p, ul, ol ,li {
  font-family: 'Barlow Semi Condensed', 'Sans-serif';
  color: #0d0d0d;
  font-size: 17px;
}
  
/* Style de la barre de navigation */
  
nav {
  background: #2d2d2d;
}

nav ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
}

nav ul a:hover {
  color: #F2f2f2;
}

nav ul li {
  width: 150px;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  list-style: none;
}

nav ul li:hover {
  background: #d90404;
}

/*Burger menu */
#icons {
  cursor: pointer;
  display: none;
}
@media (max-width:750px){
  #icons{
    display:block;
  }
  #croix{
    visibility: hidden;
  }
  nav ul {
    position:fixed;
    left:-100%;
    top:3.3%;
    flex-direction: column;
    background: #2d2d2d ;
    width: 100%;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover{
    background: #a03333;
  }
  nav.active ul{
    left: 0;
  }
}

/* Styles des div pilotes... dans A propos*/
.block{
  margin-left: 10%;
  margin-bottom: 10px;
  width:80%;
  height:100px;
  background:linear-gradient(#D90404,#bf111f00);
  display: block;
}
.block1{
  margin-bottom: 10px;
  width:80%;
  height:100px;
  background:linear-gradient(#D90404,#bf111f00);
  display: block;
}
 /* .block:active{
  background:linear-gradient(#2d2d2d,#70636300);
}  */

.textb{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  color: #0d0d0d;
}

 /* .textb:active{
  color: #F2f2f2;
}  */



/* Style des titres */  
.titre {
  margin: 30px;
  padding: 50px;
  padding-bottom: 10px;
  
}
.titre h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid #0d0d0d;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.titre p {
  line-height: 2rem;
  font-size: 1.3rem;
}

/*Contenu de ma page*/

article{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
p{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.p1{
  display: flex;
  justify-content: start;
}
  
/* Style des images*/
.image {
  margin: auto;
  display: flex;
  border:2px solid #0d0d0d;
  border-radius: 5px;
  width:50%;
}
.logo{
  display: flex;
  justify-content: center;
  width: 60%;
}
/* Images carrousel*/

#cdt1,#cdt2,#cdt3,#cdt4{
  display: none;
}
.cdt{
  width: 500px;
  height: 400px; 
  border:2px solid #0d0d0d;
  border-radius: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style des bouttons*/
button{
  border-radius: 30px;
}
.btn{
  margin-top: 30px;
  cursor: pointer;
  border:3px solid #D90404;
  background-color: #F2f2f2;
  background: #F2f2f2;
  color: #D90404;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.btn1{
  margin-top: 30px;
  cursor: pointer;
  border:3px solid #D90404;
  background-color: #F2f2f2;
  background: #F2f2f2;
  color: #D90404;
  text-decoration: none;
  display: flex;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.return{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

/* Bouton de mon dark mode */

.dark{
  cursor: pointer;
}

i.fa-regular, i.fa-solid {
  font-size: 32px;
  background-color: #F2f2f2;
  color: #0d0d0d;
  border-radius: 30px;
}
#dark-mode1{
  display: flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

#dark-mode{
  display: flex;
  justify-content:end;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

/*Style du dark mode*/
.dark-mode {
  background: #0d0d0dee;
  
  h1, h2, h3, h4, h5, h6{
    color: #bf1120;
    border-color: 2px solid #0d0d0d;
  }
  p, ul, ol, li, td, th, tr {
    color: #F2f2f2;
  }
  .btn, .btn1{
    border:5px solid #2d2d2d;
    background-color: #3f3f3f;
    color: #F2f2f2;
  }
  i.fa-regular, i.fa-solid{
    background-color: #0d0d0d;
    color: #f2f2f2;
  }
  .block, .block1{
    background:linear-gradient(#2d2d2d,#777777)!important;
  }
  .block:hover, .block1:hover{
    background:linear-gradient(#D90404,#BF1120)!important;
  }
       
}
main{
padding-bottom: 50px;
}

/* Style du Footer*/
#footer{
  position: sticky;
}
.footer {
  left:0;
  color: rgb(44, 39, 39);
  border-top: 1px solid #0d0d0d;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}